.App {
  text-align: center;
}

.Calc-header {
  background-color: black;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(234, 227, 227);
}

.Title{
  color:rgb(236, 233, 58);
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Pun{
  color:rgb(103, 221, 82);
  font-style: italic;
  text-align: right;
}

.Inputs [name=number]{
  border: 3px solid rgb(148, 192, 133);
  border-radius: 4px;
  margin: 5px;
  width: 175px;
  font-family: monospace;
  color:rgb(236, 233, 58);
  background-color: rgb(123, 97, 147);
  font-weight: bold;
}

.Inputs [name=answer]{
  width: 45px;
  margin: 5px;
  border: 3px solid rgb(45, 217, 217);
  border-radius: 4px;
  background-color: rgb(139, 175, 104);
  color:azure;
  font-weight: bold;
  font-family: monospace;
}



